.sombra {
  box-shadow: 8px 8px 0 black;
  transition: all ease 0.2s;
  transform: skewX(-6deg);
}
.sombra:hover {
  transform: scale(0.95);
  box-shadow: 5px 5px 0 black;
  transform: skewX(-6deg);
}
